.faq_3 .container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 10px;
    padding-left: 60px;
}

.faq_3 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.faq_3 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
}

.faq_3 .answer-box {
    display: none;
    /* max-height: 0px; */
    overflow-x: hidden;
    overflow-y: hidden;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: max-height;
    padding: 2rem auto;
}

.faq_3 .faq.active .openimg {
    transform: rotate(180deg);
}

.faq_3 .openimg {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-property: transform;
}

.faq_3 .faq.active .answer-box {
    max-height: 550px;
    display: block;
}

.faq_3 input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
}

.faq_3 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.faq_3 .responsive-container-block.faqheading-bg {
    background: linear-gradient(135deg, #4776e6 0%, #8e54e9 100%);
    height: 500px;
    flex-direction: column;
    text-align: center;
    color: white;
    align-items: center;
}


.faq_3 .input {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-left-style: inset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 45px;
    width: 100%;
    font-size: 15px;
    padding-top: 1px;
    padding-right: 24px;
    padding-bottom: 1px;
    padding-left: 24px;
}

.faq_3 .input-box {
    background-color: white;
    max-width: 550px;
    width: 100%;
    height: 45px;
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.faq_3 .search-btn {
    height: 45px;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    cursor: pointer;
}

.faq_3 .heading-content {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.faq_3 .form-box {
    float: none;
    display: flex;
    justify-content: center;
}

.faq_3 .responsive-container-block.dropdown-container {
    background-color: white;
    max-width: 850px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    height: auto;
    flex-direction: column;
    display: block;
    margin-top: -80px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
}

.faq_3 .search-svg {
    width: 20px;
    height: 20px;
}

.faq_3 .responsive-container-block.dropdown-container-wrapper {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}

.faq_3 .faq {
    display: block;
    flex-direction: column;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #aaaaaa;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.faq_3 .faq-question-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
}


.faq_3 .faq-question-container:hover {
    cursor: pointer;
}

@media (max-width: 1024px) {
    .faq_3 .text-blk.faq-answer {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .faq_3 .responsive-container-block.faqheading-bg {
        padding-top: 0px;
        padding-right: 30px;
        padding-bottom: 0px;
        padding-left: 30px;
    }

}

@media (max-width: 500px) {
    .faq_3 .responsive-container-block.dropdown-container-wrapper {
        padding-top: 0px;
        padding-right: 20px;
        padding-bottom: 0px;
        padding-left: 20px;
    }

    .faq_3 .heading-content {
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .faq_3 .container-block {
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .faq_3 .faq-question-container {
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .faq_3 .responsive-container-block.dropdown-container {
        margin-top: -100px;
        margin-right: 0px;
        margin-bottom: 100px;
        margin-left: 0px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wk-desk-1 {
    width: 8.333333%;
}

.wk-desk-2 {
    width: 16.666667%;
}

.wk-desk-3 {
    width: 25%;
}

.wk-desk-4 {
    width: 33.333333%;
}

.wk-desk-5 {
    width: 41.666667%;
}

.wk-desk-6 {
    width: 50%;
}

.wk-desk-7 {
    width: 58.333333%;
}

.wk-desk-8 {
    width: 66.666667%;
}

.wk-desk-9 {
    width: 75%;
}

.wk-desk-10 {
    width: 83.333333%;
}

.wk-desk-11 {
    width: 91.666667%;
}

.wk-desk-12 {
    width: 100%;
}

@media (max-width: 1024px) {
    .wk-ipadp-1 {
        width: 8.333333%;
    }

    .wk-ipadp-2 {
        width: 16.666667%;
    }

    .wk-ipadp-3 {
        width: 25%;
    }

    .wk-ipadp-4 {
        width: 33.333333%;
    }

    .wk-ipadp-5 {
        width: 41.666667%;
    }

    .wk-ipadp-6 {
        width: 50%;
    }

    .wk-ipadp-7 {
        width: 58.333333%;
    }

    .wk-ipadp-8 {
        width: 66.666667%;
    }

    .wk-ipadp-9 {
        width: 75%;
    }

    .wk-ipadp-10 {
        width: 83.333333%;
    }

    .wk-ipadp-11 {
        width: 91.666667%;
    }

    .wk-ipadp-12 {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .wk-tab-1 {
        width: 8.333333%;
    }

    .wk-tab-2 {
        width: 16.666667%;
    }

    .wk-tab-3 {
        width: 25%;
    }

    .wk-tab-4 {
        width: 33.333333%;
    }

    .wk-tab-5 {
        width: 41.666667%;
    }

    .wk-tab-6 {
        width: 50%;
    }

    .wk-tab-7 {
        width: 58.333333%;
    }

    .wk-tab-8 {
        width: 66.666667%;
    }

    .wk-tab-9 {
        width: 75%;
    }

    .wk-tab-10 {
        width: 83.333333%;
    }

    .wk-tab-11 {
        width: 91.666667%;
    }

    .wk-tab-12 {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wk-mobile-1 {
        width: 8.333333%;
    }

    .wk-mobile-2 {
        width: 16.666667%;
    }

    .wk-mobile-3 {
        width: 25%;
    }

    .wk-mobile-4 {
        width: 33.333333%;
    }

    .wk-mobile-5 {
        width: 41.666667%;
    }

    .wk-mobile-6 {
        width: 50%;
    }

    .wk-mobile-7 {
        width: 58.333333%;
    }

    .wk-mobile-8 {
        width: 66.666667%;
    }

    .wk-mobile-9 {
        width: 75%;
    }

    .wk-mobile-10 {
        width: 83.333333%;
    }

    .wk-mobile-11 {
        width: 91.666667%;
    }

    .wk-mobile-12 {
        width: 100%;
    }
}